#desktopMenu{
    border-top: 2px solid rgb(21, 62, 122);
    margin-top: 5px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0px;
    padding-top: 15px;
    & a.selected{
        border-bottom: none !important;
    }
}
