#desktopMenu {
    border: none;
    box-shadow: 7px 11px -5px 5px #f3f4f5;
    border-radius: 0px;

    & a.selected {
        border-bottom: none !important;
    }
}

.ui.dropdown.account.item {
    border-bottom: none !important;
    top: -7px;
    font-weight: normal;
    margin-bottom: -13px !important;
    padding-left: 10px !important;

    &.mainMenu {
        margin-bottom: -4px !important;
        margin-right: 10px;
    }
}

i.menuNotification.icon {
    font-size: 0.75em !important;
    top: -10px !important;
    right: -5px !important;

    & span {
        color: white;
        text-shadow: none;
        font-weight: bold;
    }
}

div.menu.network {
    border: none !important;
    box-shadow: 7px 11px -5px -6px #f3f4f5 !important;
    border-radius: 0px !important;
}

.item.mainMenu {
    letter-spacing: 1.5px;
    color: rgb(21, 62, 122) !important;
    font-size: 17px;
}

.item.mainMenu:focus {
    font-weight: normal !important;
}

div.menu.network {
    letter-spacing: normal !important;
}

#topMainDesktopMenu {
    border: none;
    box-shadow: none;

    & .big.avatar {
        margin-right: 0px;
        width: 37px;
    }
}

#topMainTabletMenu {
    & img {
        margin-top: 8px;
        padding-left: 20px;
        filter: contrast(0.899);
    }

    & button {
        margin-top: 20px;
        margin-right: -30px;
        padding: 10px 5px 10px 15px;
    }
}

#mobileMenu .item {
    text-transform: uppercase;
    letter-spacing: 1.68px;
    color: #1a4d99;
}

