@media screen and (max-width: 1013px){
  html,body{
    font-size: 15px;
  }
  h1{
    margin-top: 20px !important;
    font-size: 1.75rem !important;
    margin-bottom: 16px !important;
    padding-left: 10px !important;
  }
  .ui.right.labeled.icon.teal.big.button{
    margin-top:25px;
    margin-bottom: 25px;
  }
  i.stop.wib.bullet.icon{
    display: none;
  }
  button.ui.right.labeled.grey.icon.button{
    margin-top:12px;
  }

  #contactUser{
    float: left;
    margin-top: 0;
  }
  #userNameTitle{
    padding-left: 0px !important;
  }
}