.stop.wib.bullet.icon {
    transform: rotate(45deg) scale(0.35) translateY(-3px);
}

.ui.breadcrumb a {
    color: #1a4d99 !important;
}

.ui.grey.message {
    box-shadow: none;
}

.ui.left-bordered.segment {
    border-left: 3px solid #f4f3f0 !important;
}

.byline {
    font-weight: bold;
    font-size: 18px;

    &.normal {
        font-weight: 600;
        font-size: 16px;
        line-height: 0;
        letter-spacing: 0.105em;
    }
}

a.ui.link.button {
    margin-top: 32px;
    font-weight: 600;
    padding: 15px 25px 15px 25px;
    font-size: 16px;
}

.ui.page.header {
    margin-top: 8px;
    font-size: 56px;
}

.page.subheader {
    font-size: 26px;
    line-height: 36px;
}
